[data-theme="ola"] {
    --primary-color: 255, 250, 243;
    --secondary-color: 255, 242, 219;
    --third-color: 255, 229, 191;
    --text-color: 19, 16, 16;
    --green-color: 34, 197, 93;
    --red-color: 246, 36, 64;
    --primary-lighting: 200, 180, 150;
}

[data-theme="day"] {
    --primary-color: 255, 255, 255;
    --secondary-color: 248, 249, 250;
    --third-color: 233, 236, 239;
    --text-color: 33, 37, 41;
    --green-color: 34, 197, 93;
    --red-color: 246, 36, 64;
    --primary-lighting: 180, 180, 180;
}

[data-theme="night"] {
    --primary-color: 34, 34, 40;
    --secondary-color: 44, 44, 52;
    --third-color: 56, 56, 64;
    --text-color: 215, 215, 225;
    --green-color: 68, 220, 120;
    --red-color: 255, 90, 110;
    --primary-lighting: 90, 90, 100;
}
